@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {

  font-family: 'Kumbh Sans';
  text-align: justify;
}

html, body {
  height: 100%;
}

.menu {

  height: 100%;
  overflow: hidden;
  position: fixed;
  scroll-behavior: none;
  top: 0;
  z-index: 1;
}

.icon {
  color: #adadad;
  text-decoration: none;
}

.logo{

  border-radius: 50%;
  float: left;
  height: 150px;
  margin: 2%;
  width: 150px;
}

.logo-titre {

  font-size: larger;
  padding: 15% 5% 0 5%;
  line-height: 150%;
  text-align: center;
}

.logo-titre-qualif {

  font-size: large;
  text-align: center;
}

i {

  font-size: x-large;
}

.content-icon {

  margin: 1% 10%;
  width: 5%;
}


.footer-info {

  margin: 5%;
}

.footer-icon {

  margin: 1%;
}

.footer-icon:hover {

  color: white;
  cursor: pointer;
}