@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {

  font-family: 'Kumbh Sans';
}

a {
  color: #adadad;
  text-decoration: none;
}

.logo{

  border-radius: 50%;
  height: 150px;
  margin : 10% 0 5% 30%;
  width: 150px;
}

.logo-titre {

  margin: 0 0 5% 0 ;
  line-height: 150%;
  text-align: center;
}

i {

  font-size: x-large;
}

.content-icon {

  margin: 1% 5%;
  width: 5%;
}


.footer-info {

  margin: 5%;
}

.footer-icon {

  margin: 1%;
}

.footer-icon:hover {

  color: white;
  cursor: pointer;
}